header(class="bg-indigo-600 p-4")
    div(class="container mx-auto flex justify-between items-center")
        h1(class="text-2xl text-white font-extrabold text-center") Real
            span(class="font-normal") Estate

        nav(class="my-5 text-sm font-bold text-white md:items-center md:gap-3 md:flex hidden")
            a(href="") My properties
            a(href="") Profile
            a(class="bg-indigo-800 py-2 px-10 rounded-lg" href="") Logout